<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SMS.Properties.Settings>
            <setting name="sid" serializeAs="String">
                <value>AC999704db2bda90f22e8080ddc78608fb</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>1c87961a2a0263dd65c097b287e367e2</value>
            </setting>
            <setting name="YOUR_TWILIO_NUM" serializeAs="String">
                <value>909-323-0939</value>
            </setting>
        </SMS.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SMS.Properties.Settings>
            <setting name="YOUR_PHONE" serializeAs="String">
                <value>714-900-3339</value>
            </setting>
        </SMS.Properties.Settings>
    </userSettings>
</configuration>